<header class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="navbar-logo" arial-label="Go to STEMgraph homepage">
      <img src="/STEMgraph.ico" alt="STEMgraph Logo"/>
    </a>
  </div>

  <div class="navbar-center">
    <form class="search-box" (ngSubmit)="submitSearch()">
      <span class="search-icon" aria-hidden="true">
        🔍
      </span>
      <input type="search" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search..." aria-label="Search"/>

      <select name="searchType" [(ngModel)]="searchType" aria-label="Search Filter">
        <option value="all">All</option>
        <option value="keywords">Keywords</option>
        <option value="challenges">Challenges</option>
        <option value="lists">Lists</option>
        <option value="chall-by-key">Challenges by Keyword</option>
      </select>
    </form>
  </div>

  <div class="navbar-right">
    <nav class="navbar-links" arial-label="Main navigation">
      <a routerLink="/keywords">Keywords</a>
      <a routerLink="/lists">Lists</a>
      <a routerLink="/stats">Stats</a>
    </nav>

    <button class="menu-toggle" type="button" [attr.aria-expanded]="menuOpen" aria-controls="mobile-menu" aria-label="Toogle navigation menu" (click)="toggleMenu()">
      ☰
    </button>
  </div>
</header>

<aside id="mobile-menu" class="mobile-menu" [class.is-open]="menuOpen">
    <nav aria-label="Mobile navigation">
      <a routerLink="/keywords" (click)="closeMenu()">Keywords</a>
      <a routerLink="/lists" (click)="closeMenu()">Lists</a>
      <a routerLink="/stats" (click)="closeMenu()">Stats</a>
    </nav>
  </aside>
