.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: grid; grid-template-columns: minmax(180px, 1fr) auto minmax(300px, 1fr);
  align-items: center;
  gap: clamp(20px, 4vw, 60px);

  min-height: 35px;
  padding: 0 47px;

  background: rgba(3, 25, 31, 0.264);
  backdrop-filter: blur(2px);
}

.navbar-links a,
.navbar-logo,
.mobile-menu a {
  font-family: 'Fugaz One', sans-serif;
}

/* --Container Position-- */
.navbar-left {
  justify-self: start;
}

.navbar-center {
  display: flex;
  justify-content: center;
  min-width: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}

/* --Navbar Logo-- */
.navbar-logo {
  display: inline-flex;
  align-items: center;
}

.navbar-logo img {
  display: block;
  width: clamp(40px, 2.5vw, 120px);
  height: auto;
  object-fit: contain;
}

/* Suchleiste */
.search-box {
  display: flex;
  align-items: center;
  gap: 0;
  width: min(38vw, 520px);
  margin: 0;
}

.search-icon {
  padding-right: 4px;
  color: #24b8b1;
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.search-box input,
.search-box select {
  min-width: 0;
  height: clamp(25px, 2.5vw, 35px);
  padding: 0 15px;

  color: rgba(247, 251, 251, 0.752);
  background: rgba(3, 25, 31, 0.6);
  border: 1px solid rgba(36, 184, 177, 0.14);
  border-radius: 8px;

  font-family: 'Fugaz One', sans-serif;
}

.search-box input {
  width: clamp(120px, 12vw, 320px);
}

.search-box select {
  width: clamp(65px, 7vw, 110px);
}

/* --Navbar Links-- */
.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(30px, 4vw, 60px);
}

.navbar-links a {
  color: #24b8b13b;
  font-size: clamp(0.95rem, 2.6vw, 1.4rem);
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.4s ease;
}

.navbar-links a:hover {
  color: #da151f3c;
}

/* --Menu-Button-- */
.menu-toggle {
  display: none;
  color: #24b8b13b;
  background: transparent;
  border: 0;
  font-size: 1.8rem;
  cursor: pointer;
}

/* --Menu-- */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  width: min(80%, 280px);
  height: 100vh;
  padding: 90px 24px 24px;

  background: #16726d28;
  backdrop-filter: blur(2px);

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu a {
  color: #ede3e2;
  text-shadow: 0 0 10px #be0003, 0 0 20px #ea003e;
  font-family: 'Fugaz One', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

/* --Mobile-- */
@media (max-width: 768px) {
  .navbar {
    grid-template-columns: auto minmax(0, 1fr) auto;
    gap: 12px;
    padding: 0 20px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-right {
    display: contents;
  }

  .search-box {
    justify-content: center;
    width: min(100%, 360px);
  }

  .menu-toggle {
    display: block;
  }

  .navbar-logo img {
  min-width: clamp(30px, 2vw, 80px);
  }
}

/* --Desktop-- */
@media (min-width: 769px) {
  .navbar {
    grid-template-columns: minmax(180px, 1fr) auto minmax(300px, 1fr);
  }

  .navbar-links {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-menu {
    transform: translateX(100%);
    display: none;
  }

  .navbar-logo img {
  min-width: clamp(92px, 2vw, 100px);
  min-width: 92px;
  }
}
