.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;

  min-height: 35px;
  padding: 0 32px;

  background: rgba(3, 25, 31, 0.264);
  backdrop-filter: blur(2px);
}

.navbar-logo {
  display: inline-flex;
  align-items: center;
}

.navbar-logo img {
  display: block;
  width: 35%;
  object-fit: contain;
}

.navbar-links {
  display: flex;
  justify-content: right;
  gap: 35px;
}

.navbar-links a {
  color: #24b8b13b;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.4s ease;
}

.navbar-links a:hover {
  color: #da151f3c;;
}

.navbar-links a,
.navbar-logo {
  font-family: 'Fugaz One', sans-serif;
}
