<main class="challenge-page">
  <app-logo-3d
    [glbUrl]="'/STEMgraph_website.glb'"
    [mouseParallax]="true">
  </app-logo-3d>

   <button type="button" class="back-button" (click)="back()">
    BACK
  </button>

  <h1 class="challange-header">
    {{ challengeTeaches }}
  </h1>
  <h2 class="detail-id">
    ID: {{ challengeId }}
  </h2>

  @if (loading) {
    <section class="content-loading" aria-live="polite">
      <div class="loading-spinner"></div>
      <p>Challenge wird geladen ...</p>
    </section>
  }

  @if (error) {
    <p class="content-error">
      Content can`t load.
    </p>
  }

  @if (content; as challengeContent) {
    <article class="challenge-content">
      <markdown [data]="challengeContent.content_markdown"></markdown>
    </article>

    @if (challengeContent.assets.length > 0) {
      <section class="challenge-assets">
        <h2>Required Files</h2>

        <ul>
          @for (asset of challengeContent.assets; track asset.id) {
            <li class="asset-item">
              <span class="asset-name">{{ asset.file_name }}</span>
              <small class="asset-info">{{ asset.relative_path }} · {{ asset.file_size }} Bytes</small>

              <a class="asset-download" [href]="getAssetUrl(asset.file_name)" [download]="asset.file_name">
                Download
              </a>
            </li>
          }
        </ul>
      </section>
    }
  }
</main>