:host {
  display: block;
}

.hero {
  min-height: 120px;
}

.content-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 5% 30px;
  color: var(--color-text);
}

.content-section h1,
.content-section h2 {
  color: #d0e3de;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.content-section p {
  max-width: 750px;
  color: var(--color-text-muted);
  font-size: 0.76rem;
  line-height: 1.2;
}
