@media (min-width: 1200px) {
  .hero {
    margin-top: -80px;
  }
}

:host {
  display: block;
}

.hero {
  width: 100%;
  margin: 0;
}

.content-section {
  color: var(--color-text);
  width: min(85%, 1100px);
  min-height: auto;
  margin: 0 auto;
  padding: clamp(1.8rem, 1vw, 3rem);
}

.content-section h1,
.content-section h2 {
  color: #d0e3de;
  margin: 0 0 5px;
  font-size: clamp(1.8rem, 1vw, 3rem);
  line-height: 1.2;
}

.content-section p {
  color: var(--color-text-muted);
  max-width: 680px;
  margin: 0;
  font-size: clamp(1rem, 0.4vw, 1.25rem);
  line-height: 1.2;
}
