<div class="graph-container">
  <canvas #canvas></canvas>

  @if (hoverTooltip.visible && hoverTooltip.node; as node) {
    <div
      class="node-tooltip"
      [style.left.px]="hoverTooltip.x"
      [style.top.px]="hoverTooltip.y"
    >
      <div class="node-tooltip-title">
        {{ node.id }}
      </div>

      @if (node.teaches) {
        <div class="node-tooltip-row">
          <span>Teaches:</span>
          <span>{{ node.teaches }}</span>
        </div>
      }

      @if (isAdmin && node.author) {
        <div class="node-tooltip-row">
          <span>Author:</span>
          <span>{{ node.author }}</span>
        </div>
      }

      @if (isAdmin && node.firstused) {
        <div class="node-tooltip-row">
          <span>First used:</span>
          <span>{{ node.firstused }}</span>
        </div>
      }
    </div>
  }
</div>